h3{
  text-align: center;
}

//Dog Section
.dogListWrapper{
  display: flex;
  flex-wrap: wrap;
  padding:1rem;
  justify-content: center;
}
.dogCard{
  text-align:center;
  margin:1rem;
  border:solid 1px lightgray;

}
.dogCardImage{
  border-bottom:none;
}